<ul>
    <% messages.forEach(function(result) { %>
      <li>
        <strong><%= result.user %></strong>
      <%= result.text%>
      </li>
    <% }); %>
  </ul>
  <button onclick=newMessage()>new message</button>
  <script>
    newMessage=()=>{
        window.location.href="/api/new"
    }
  </script>